@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");

/* FONTS */
.h-1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 5.8px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 12px;
  padding-left: 2px;
}

.h-2 {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 3.8px;
  text-transform: uppercase;
  color: white;
  padding-left: 2px;
}

.h-3 {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  padding: 10px 0;
}

.h-4 {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: white;
}

.paragraph {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 148%;
  padding: 0 0 8px 0;
}

.action-large {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding: 12px 0;
  text-decoration: none;
  color: black;
}

.caption {
  font-family: Allura;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 1.2px;
}

.slider-text {
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: white;
}

body::-webkit-scrollbar {
  display: none;
}
body.no-scroll {
  overflow-y:hidden;

}
/* NAVBAR */
header {
  position: relative;
  z-index: 1000;
}

.navbar-container {
  width: 100%;
  height: 64px;
  font-size: 1rem;
  padding: 0 82px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 20px 0;
  background-color: white;
}

.nav-img {
  width: 140px;
  height: 40px;
}

.burger {
  display: none;
}

.logo {
  position: relative;
  top: 2px;
}

.navbar ul {
  display: flex;
  align-items: end;
  justify-content: flex-end;
  height: 40px;
  gap: 8px;
}

.navbar ul li {
  list-style-type: none;
  padding: 9px 20px;
  height: 40px;
}

.navbar ul li a {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.6px;
  text-decoration: none;
  color: black;
}

/* menu */
.menu {
  display: none;
}

/* MAIN */

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  background-color: #ff4646;
  width: 100%;
  /* height: 3000px; */
  padding: 48px 0;
  background-image: url(../images/bg-garland.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 60px 82px;
}

.h1 {
  width: 426px;
  margin: auto;
  color: white;
}

/* TAGS */

.tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  padding: 20px 0;
}

.category-card {
  list-style-type: none;
  padding: 9px 20px;
  border-radius: 12px;
  cursor: pointer;
  padding: 10px;
  margin: 5px;
  display: inline-block;
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.category-card.active {
  background-color: rgba(255, 255, 255, 0.1);
  font-weight: bold;
}

.items-container {
  margin-top: 20px;
}

/* CARDS */
.col:hover {
  transition: background-color 0.2s ease, color 0.2s ease;
  cursor: pointer;
  color: #ff4646;
}

.best-gifts {
  padding: 0 82px;
}

.gifts-tag {
  padding-bottom: 12px;
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 13px;
  margin-bottom: 13px;
  height: 100%;
}

.column-3 {
  background-color: #ecf3f8;
  width: 310px;
  height: 341px;
  border-radius: 20px;
}

.img {
  height: 230px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  padding: 19px 20px;
  height: 108px;
  background-color: #fff;
  border-radius: 20px;
}

.description h3 {
  padding-top: 9px;
}

/* MODAl */
.modal-container{
  width: 100%;
  height: 100%;
}

.modal-cont {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.377);
}
#modal-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Optional: Add a semi-transparent background */
  z-index: 1000;
}

.modal {
  width: 400px;
  min-height: 480px;
  background-color: #ecf3f8;
  border-radius: 20px;
}

.modal-img {
  height: 230px;
}

.modal-desc {
  padding: 19px 20px;
  min-height: 250px;
  background-color: #fff;
  border-radius: 20px;
}

.desc {
  padding: 0;
}

.superpowers {

  padding: 20px 0 0 0;
}

.superpower-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stars-text {
  padding: 0;
}

.stars-cont {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 15px;
}

.clicked {
  display: block;
}

/* SCROLL TOP */
#top-btn {
  width: 60px;
  height: 60px;
}

button.btn {
  position: fixed;
  bottom: 20px;
  right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255, 1);
  color: white;
  border: red solid 1px;
}

button.btn:hover {
  background-color: #fff;
  transition: all 0.3s;
}

button.btn:hover svg path {
  stroke: #ff4646;
}

/* FOOTER */

.row-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer img {
  width: 80px;
  height: 80px;
}

.row-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 60px;
  gap: 12px;
  flex-wrap: wrap;
}

.footer-col-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #ecf3f8;
  border-radius: 20px;
  padding: 20px;
  width: 417.33px;
}

.row-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.socials img {
  width: 40px;
  height: 40px;
}

#scrollToTopButton {
  position: fixed;
  width: 56px;
  height: 56px;
  bottom: 30px;
  right: 30px;
  background-color: rgba(255, 255, 255);
  border: #ff4646 solid 1px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  z-index: 1000;
}

/* 
*
*
*
*
*
DISPLAY TABLET
*
*
*
*
*
*/

@media (max-width: 768px) {

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 8px;
  }

  /* NAVBAR */
  .navbar-container {
    padding: 0 8px;
  }

  .navbar-container .logo {
    position: relative;
    top: -10px;
    align-self: start;
  }

  .navbar {
    padding-top: 24px;
  }

  .burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 1100;
    position: relative;
  }

  .burger div {
    background-color: black;
    width: 20px;
    height: 1px;
    border-radius: 2px;
    transition: all 0.3s ease;
  }

  .navbar ul {
    display: none;
  }

  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: right 0.3s ease;
  }

  .menu a {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding: 12px 0;
    text-decoration: none;
    color: black;
    text-decoration: none;
    margin: 15px 0;
    transition: color 0.3s ease;
  }

  /* active state */
  .burger.open div:nth-child(1) {
    transform: rotate(45deg) translateY(8px);
  }

  .burger.open div:nth-child(2) {
    transform: rotate(-45deg) translateY(-8px);
  }

  .menu.open {
    right: 0;
  }

  /* FOOTER */
  .row-1 {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    width: 100%;
  }

  .footer-col-3 {
    width: 100%;
    height: 204px;
  }
}

/* 
*
*
*
*
*
DISPLAY MOBILE
*
*
*
*
*
*/
@media (max-width: 380px) {
  .main-container {
    max-width: 380px;
  }

  /* NAVBAR */
  .navbar-container {
    padding: 0 8px;
  }

  .navbar {
    padding-top: 24px;
  }

  .burger {
    display: inherit;
  }

  .navbar ul {
    display: none;
  }

  .h1 {
    width: 364px;
  }

  /* TAGS */

  .tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    width: 354px;
    margin: auto;
  }

  .tags ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    gap: 0px;
  }

  .tags-nav {
    width: 100%;
  }

  .tags ul li {
    list-style-type: none;
    padding: 10px 2px;
    border-radius: 12px;
  }

  .tags ul li.active {
    background-color: rgba(255, 255, 255, 0.1);
    width: 41px;
  }

  /* FOOTER */
  .row-1 {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    width: 100%;
  }

  .footer-col-3 {
    width: 100%;
    height: 100%;
  }
}